%h1 Ian Enders

%p I lived in Toronto. Now I live in San Francisco. I'm not sure how I feel about that.
%p I read comic books. I watch zombie movies and film noir. I listen to indie music.
%p! I have a beautiful <a href = "http://www.anamonster.com" target="_blank">wife</a>, a hyperactive French Bulldog, and a neurotic cat.
%p! I write <a href = "http://www.github.com/ienders" target="_blank">code</a> and <a href = "http://www.twitter.com/ianenders" target="_blank">idiotic comments</a> about the things I see.
%p I am what hipsters aspire to be. Effortlessly hipster.
%p! I am the Creative Director at <a href = "http://www.pagerduty.com" target="_blank">PagerDuty</a>.
%p! I am hiring creative and talented frontend developers. <a href = "mailto:jobs@pagerduty.com">Get in touch</a>.
